
{% block title %}Wine Prediction{% endblock %}
{% block content %}
<form action="#" method="post">

    <p> Fixed acidity: <input type = "text" name = "fa" placeholder="range(4.6 - 15.6)" /> </p>
    <p> Volatile acidity: <input type = "text" name = "va" placeholder="range((0.12 - 1.58))"/> </p>
    <p> Citric acid: <input type = "text" name = "ca" placeholder="range(0.0 - 1.0)"/> </p>
    <p> Residual sugar: <input type = "text" name = "rs" placeholder="range(0.9 - 15.4)"/> </p>
    <p> Chlorides: <input type = "text" name = "chl" placeholder="range(0.034 - 0.61)"/> </p>
    <p> Free sulfur dioxide: <input type = "text" name = "fsd" placeholder="range(1.0 - 72.0)"/> </p>
    <p> Total sulfur dioxide: <input type = "text" name = "tsd" placeholder="range(6.0 - 289.0)"/> </p>
    <p> Density: <input type = "text" name = "den" placeholder="range( 0.99007000001 - 1.00369)" size = 30/> </p>
    <p> pH: <input type = "text" name = "ph" placeholder="range(2.74 - 4.01)"/> </p>
    <p> Sulphates: <input type = "text" name = "sul" placeholder="range(0.33 - 2.0)"/> </p>
    <p> Alcohol: <input type = "text" name = "alc" placeholder="range(8.5 - 14.0)"/> </p>
    <p> <input type = "submit" value="submit" /></p>
</form>
{% endblock %}



